Source: pgp-zimlet
Section: misc
Priority: optional
Maintainer: Barry De Graaff <info@barrydegraaff.tk>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.8.0
Homepage: https://github.com/Zimbra-Community/pgp-zimlet

Package: pgp-zimlet
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, zimbra-store
Description: Zimbra OpenPGP Zimlet
 Zimlet to enable OpenPGP
