#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'# Reboot after installation
reboot --eject
# Root password
rootpw --iscrypted $1$j5Gl77m4$P1qVI/qzX7U9vD39znyFV0
# System timezone
timezone Europe/Amsterdam
# Use network installation
url --url="http://mirror.cisp.com/CentOS/7/os/x86_64/"
repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/
# System language
lang en_US
# Firewall configuration
firewall --enabled --ssh
# Network information
network  --bootproto=dhcp --device=eth0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System bootloader configuration
bootloader --location=mbr
zerombr
clearpart --all --initlabel

# Disk partitioning information
part swap --asprimary --fstype="swap" --size=2200
part /boot --fstype=ext4 --size=500
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype ext4 --name=lv01 --vgname=rootvg01 --size=1 --grow

%packages
@base
@core
epel-release
chrony
nmap-ncat
perl-core
git
ant
yum-cron
htop
policycoreutils-python
haveged
%end

%post
yum update -y
systemctl start haveged
systemctl enable haveged
sed -i 's|^apply_updates = no|apply_updates = yes|' /etc/yum/yum-cron.conf
systemctl start yum-cron
systemctl enable yum-cron
systemctl stop postfix
systemctl mask postfix
%end
